.cta {
  .container;
  .clearfix;
  padding: 27px 20px 49px;
  background: #fff;
  text-align: center;
}
.cta__title {
  font-size: 21px;
  margin-bottom: 19px;
}
.cta__btn {
  padding: 19px 47px;
  margin-top: 35px;
}

@media @tablet-width {
  .cta {
    padding: 55px 150px 60px;
  }
  .cta__title {
    font-size: 30px;
    margin-bottom: 31px;
  }
  .cta p {
    padding: 0 30px;
  }
  .cta__btn {
    padding: 18px 137px;
    margin-top: 42px;
  }
}
@media @desktop-width {
  .cta {
    padding: 56px 310px 67px;
  }
  .cta__title {
    margin-bottom: 29px;
  }
  .cta__btn {
    margin-top: 48px;
  }
}
