.gallery {
  .container;
  .clearfix;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.gallery__photo {
  padding: 22px 20px 14px;
  display: flex;
  flex-direction: column;
}
.gallery__img {
  height: 280px;
  width: 280px;
  margin-bottom: 19px;
}
.gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gallery__info {
  margin-bottom: 12px;
}
.gallery__title {
  font-size: 14px;
  margin-bottom: 4px;
}
.gallery__author {
  text-transform: none;
}
.gallery__likes {
  position: relative;
  padding-left: 37px;
  font-weight: 600;
}
.gallery__icon {
  position: absolute;
  top: -5px;
  left: 1px;
  width: 22px;
  height: 20px;
  fill: #a9a9a9;
}


@media @mobile-width {
  .gallery__photo {
    border-top: 1px solid #e5e5e5;
  }
  .gallery__photo:last-child {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media @tablet-width {
  .gallery {
    padding: 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery__photo {
    padding: 0;
    flex-basis: 50%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
  }
  .gallery__photo:nth-child(3) {
    background: #eaeaea;
  }
  .gallery__photo--big {
    flex-basis: 100%;
  }
  .gallery__img {
    margin: 0;
  }
  .gallery__img,
  .gallery__img img {
    width: 324px;
    height: 267px;
  }
  .gallery__photo--big .gallery__img,
  .gallery__photo--big .gallery__img img {
    width: 648px;
    height: 400px;
  }
  .gallery__wrapper {
    padding: 19px 21px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__likes {
    padding-left: 31px;
    padding-bottom: 11px;
  }
}
@media @desktop-width {
  .gallery {
    padding: 0;
    padding-top: 11px;
  }
  .gallery__photo {
    flex-basis: 33%;
    flex-grow: 1;
    position: relative;
  }
  .gallery__img {
    z-index: 0;
  }
  .gallery__img,
  .gallery__img img {
    width: 100%;
  }
  .gallery__photo--big {
    flex-basis: 100%;
  }
  .gallery__photo--big .gallery__img,
  .gallery__photo--big .gallery__img img {
    width: 100%;
  }
  .gallery__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    overflow: hidden;
    max-height: 80px;
  }
  .gallery__icon {
    fill: #fff;
  }
}
