.main-header {
  position: relative;
  background-color: #fff;
  .container;
  .clearfix;
}

@media @mobile-width {
}

@media @tablet-width {
  .main-nav__toggle {
    display: none;
  }
}

@media @desktop-width {
}
