.main-footer {
  .container;
  .clearfix;
  padding: 40px 85px;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.main-footer__link a {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.main-footer__social {
  margin-top: 35px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.main-footer__social-btn {
  position: relative;
  width: 46px;
  height: 49px;
  background: @blue;
}
.main-footer__social-btn::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 14px;
  top: 17px;
  left: 14px;
  background: url("../img/icon-twitter.svg");
}
.main-footer__social-btn--fb::after {
  width: 9px;
  height: 18px;
  top: 13px;
  left: 19px;
  background: url("../img/icon-facebook.svg");
}
.main-footer__social-btn--yt::after {
  width: 19px;
  height: 14px;
  top: 17px;
  left: 14px;
  background: url("../img/icon-youtube.svg");
}
.main-footer__madeby a {
  position: relative;
  padding-right: 40px;
}
.main-footer__madeby a::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 34px;
  top: -10px;
  right: 0;
  background: url("../img/logo-htmlacademy.svg");
  background-size: 27px 34px;
}

@media @tablet-width {
  .main-footer {
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-footer__social {
    flex-basis: 160px;
    margin: auto;
    padding-right: 10px;
  }
}

@media @desktop-width {
  .main-footer {
    padding: 35px 44px 35px 133px;
  }
  .main-footer__social {
    flex-basis: 247px;
    padding-right: 96px;
  }
}
