.main-nav {
  position: relative;
  width: 100%;
}
.main-nav__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-nav__item {
  display: flex;
  justify-content: center;
}
.main-nav__item a {
  flex-grow: 1;
  text-align: center;
  min-height: 56px;
  padding: 18px 0;
  // box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.main-nav__logo {
  order: 1;
}
.main-nav__logo a {
  position: relative;
  flex-grow: 1;
}
.main-nav__logo img {
  position: absolute;
  width: 102px;
  height: 84px;
  top: 0;
  left: 50%;
  margin-left: -51px;
  z-index: 2;
}


@media @mobile-width {
  .main-nav--closed .main-nav__item:not(.main-nav__logo) {
    display: none;
  }
  .main-nav--opened .main-nav__item {
    display: flex;
  }
  .main-nav__toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 60px;
    height: 56px;
    font-size: 0;
    cursor: pointer;
  }
  .main-nav__toggle--opened {
    top: 0;
  }
  .main-nav__toggle--closed::before,
  .main-nav__toggle--closed::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 18px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2,
    0 16px 0 0 #81b3d2;
  }
  .main-nav__toggle--opened::before,
  .main-nav__toggle--opened::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 18px;
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  .main-nav__toggle--opened::before {
    transform: rotate(45deg);
  }
  .main-nav__toggle--opened::after {
    transform: rotate(-45deg);
  }

  .main-nav__item:not(.main-nav__logo) a {
    color: #fff;
    background-color: @blue;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
  }
  .main-nav__item:not(.main-nav__logo) a:hover {
    background: @blue-hvr;
    border-bottom: 1px solid #437897;
    border-top: 1px solid #86b2cd;
  }
  .main-nav__item:not(.main-nav__logo) a:active {
    background: @blue-down;
    color: @btn-text-down;
    border-bottom: 1px solid #437897;
    border-top: 1px solid #77acca;
  }
  .main-nav__item:not(.main-nav__logo):nth-child(2) a,
  .main-nav__item:not(.main-nav__logo):nth-child(2) a:hover,
  .main-nav__item:not(.main-nav__logo):nth-child(2) a:active {
    border-top: none;
  }
  .main-nav__item:not(.main-nav__logo):last-child a {
    border-bottom: none;
    box-shadow: inset 0px -8px 5px -6px rgba(0, 0, 0, 0.2);
  }
}

@media @tablet-width {
  .main-nav__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3)
   {
   order: -1;
  }
  .main-nav__logo {
    order: 0;
  }
  .main-nav__item {
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .main-nav__item a {
    padding: 21px 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }
  .main-nav__item a:hover {
    color: @blue;
  }
  .main-nav__item a:active {
    color: @menu-down;
  }
  .main-nav__item--active a {
    color: @menu-active;
  }
  .main-nav__item--active a:hover  {
    color: @menu-active-hvr;
  }
  .main-nav__item--active a:active {
    color: @menu-active-down;
  }
}


@media @desktop-width {
  .main-nav__logo img {
    width: 188px;
    height: 96px;
    margin-left: -93px;
  }
}
