.subheader {
  .container;
  .clearfix;
  background-color: #fff;
}
.subheader__cover {
  height: 390px;
  width: 100%;
  position: relative;
}
.subheader__cover--small {
  height: 160px;
}
.subheader__pic {
  height: 100%;
  width: 100%;
}
.subheader__cover::before {
  position: absolute;
  content: '';
  background: url('../img/bg-intro-triangle-mobile.svg');
  bottom: 0;
  left: 0;
  width: 320px;
  height: 25px;
}
.subheader__txt {
    position: absolute;
    width: 230px;
    height: 175px;
    top: 50%;
    left: 50%;
    margin-top: -97px;
    margin-left: -115px;
}
.subheader__text {
  text-align: center;
  position: relative;
  padding: 37px 25px;
}
.subheader__text::after {
  position: absolute;
  content: '';
  background: url('../img/bg-triangle.svg');
  bottom: 0;
  left: 0;
  width: 320px;
  height: 37px;
}
.subheader__text--small {
  padding: 37px 25px 19px;
}
.subheader__title {
  margin-bottom: 28px;
}


@media @tablet-width {
  .subheader__cover {
    height: 520px;
  }
  .subheader__cover--small {
    height: 290px;
  }
  .subheader__cover::before {
    left: 50%;
    margin-left: -160px;
  }
  .subheader__txt {
    width: 460px;
    height: 490px;
    top: 7px;
    left: 156px;
    margin-top: 0;
    margin-left: 0;
  }
  .subheader__txt--small {
    top: -111px;
  }
  .subheader__text {
    padding: 50px 80px;
  }
  .subheader__text--small {
    padding: 76px 170px 68px;
  }
  .subheader__title--small {
    font-size: 30px;
  }
}

@media @desktop-width {
  .subheader__cover--small {
    height: 300px;
  }
  .subheader__txt--small {
    top: -103px;
  }
  .subheader__txt {
    left: 50%;
    margin-left: -229px;
  }
  .subheader__text {
    padding: 116px 350px 67px;
  }
  .gallery__wrapper {
    padding: 24px 22px;
  }
  
}
