.video {
  .container;
  .clearfix;
  background: #fff;
  text-align: center;
  padding: 0;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
}

.video__text {
  padding: 34px 25px 28px;
}
.video__title {
  margin-bottom: 26px;
}

.video__player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 320px;
  height: 201px;
}
.video__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 201px;
}
.video__player video {
  width: 100%;
}
.video__controls {
  position: absolute;
  bottom: -66px;
  left: 50%;
  width: 280px;
  height: 111px;
  margin-left: -140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.video__range,
.video__btn {
  flex-basis: 280px;
}
.video__range {
  position: relative;
  height: 45px;
  background: rgba(0, 0, 0, .5);
}
.video__range::before {
  content: '';
  position: absolute;
  top: 23px;
  left: 22px;
  width: 84%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}
.video__range::after {
  content: '';
  position: absolute;
  top: 19px;
  left: 59px;
  width: 9px;
  height: 9px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}
.video__btn {
  background: @bg-color;
  height: 66px;
  display: flex;
}
.video__replay,
.video__subs,
.video__fullscreen {
  position: relative;
  flex-basis: 63px;
  justify-content: space-between;
  cursor: pointer;
}
.video__subs {
  margin-left: auto;
}
.video__replay::before,
.video__subs::before,
.video__fullscreen::before {
  position: absolute;
  content: "";
  top: 22px;
  left: 26px;
  width: 16px;
  height: 20px;
  background: url("../img/icon-video-replay.svg");
  background-size: 16px 20px;
}
.video__subs::before {
  top: 23px;
  left: 21px;
  width: 32px;
  background: url("../img/icon-video-subtitles.svg");
}
.video__fullscreen::before {
  top: 23px;
  left: 21px;
  width: 20px;
  background: url("../img/icon-video-fullscreen.svg");
}

@media @tablet-width {
  .video {
    padding: 70px 60px 42px;
  }
  .video__text {
    padding: 0 110px 73px;
}
  .video__title {
    font-size: 30px;
  }
  .video__player,
  .video__poster  {
    width: 648px;
    height: 500px;
  }
  .video__controls {
    position: absolute;
    bottom: 0;
    left: 140px;
    width: 100%;
    height: 93px;
    background: rgba(0, 0, 0, .5);
  }
  .video__range,
  .video__btn {
    background: transparent;
    flex-basis: 280px;
  }
}
@media @desktop-width {
  .video {
    padding: 72px 200px 86px;
  }
  .video__text {
    padding: 0 180px 68px;
  }
  .video__title {
    margin-bottom: 28px;
  }
  .video__player,
  .video__poster  {
    width: 800px;
    height: 500px;
  }
}
